@font-face {
    font-family: 'sinkin-light';
    src: url('../../fonts/sinkinsans-light/SinkinSans-300Light-webfont.eot');
    src: url('../../fonts/sinkinsans-light/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sinkinsans-light/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../../fonts/sinkinsans-light/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../../fonts/sinkinsans-light/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin-medium';
    src: url('../../fonts/sinkinsans-medium/SinkinSans-500Medium-webfont.eot');
    src: url('../../fonts/sinkinsans-medium/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sinkinsans-medium/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('../../fonts/sinkinsans-medium/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('../../fonts/sinkinsans-medium/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monaco';
    src: url('../../fonts/monaco/monaco-webfont.eot');
    src: url('../../fonts/monaco/monaco-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/monaco/monaco-webfont.woff2') format('woff2'),
         url('../../fonts/monaco/monaco-webfont.woff') format('woff'),
         url('../../fonts/monaco/monaco-webfont.ttf') format('truetype'),
         url('../../fonts/monaco/monaco-webfont.svg#monacoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #24BCA8;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

pre {
    font-family: 'monaco';
    font-size: 0.8em;
    background-color: #272822;
    border-radius: 6px;
    padding: 8px;
    line-height: 140%;
}

pre code {
    font-family: 'monaco';
    background-color: #272822;
    color: #fff;
}

code {
    font-family: 'monaco',monospace;
    font-size: 1.15em;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

#social-container {
    line-height: 10px;
    margin-bottom: 10px;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #24BCA8;
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    font-family: 'sinkin-medium';
}

.brand-title a {
    color: #FFF;
}

.brand-tagline {
    font-weight: 300;
    font-family: 'sinkin-light';
    font-size: 90%;
    color: #EFEFEF;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 1px solid #FFF;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    font-family: 'sinkin-light';
    font-size: 85%;
    width: 107px;
    height: 26px;
    padding: initial;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid #FDAA48;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    font-family: 'sinkin-medium';
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: 'sinkin-light', Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    text-align: justify;
}
.post-description h1, h2, h3, h3, h5, h6 {

    font-family: 'sinkin-medium';
    color: #222;
    margin-bottom: 0.2em;

}
.post-image {
    text-align: center;
}
.post-meta {
    font-family: 'sinkin-light';
    color: #999;
    font-size: 80%;
    margin: 0;
}

.post-pagionation {
    text-align: center;
}

.post-tag {
    margin: 0 0.2em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-tag-python {
        background: #FDC332;
    }
    .post-tag-dev {
        background: #4d85d1;
    }
    .post-tag-data-science {
        background: #8156a7;
    }
    .post-tag-mobile {
        background: #df2d4f;
    }
    .post-tag-python-map {
        background: #FB523C;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: center;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
