{% macro render_blog_post(post, from_index=false) %}

<div class="posts">
    <section class="post">
        <header class="post-header">
            {% if from_index %}
            <h2 class="post-title"><a href="{{ post|url }}">{{ post.title }}</a></h2>
            {% else %}
            <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}
            <p class="post-meta">
            {% if post.twitter_handle %}
                By <a href="https://twitter.com/{{ post.twitter_handle}}" class="post-author">{{ post.author or post.twitter_handle }}</a> on {{ post.pub_date }} under <a class="post-category post-category-{{post.category}}" href="#">{{post.category}}</a>
            </p>
            <p class="post-meta">
            {% else %} 
                By <a href="https://twitter.com/{{ post.twitter_handle}}" class="post-author">{{ post.author }}</a> on {{ post.pub_date }} under <a class="post-category post-category-design" href="#">CSS</a>
            </p>
            {% endif %}
        </header>
        {% if from_index %}
        <div class="post-description">
            <p>
                {{ post.summary }}
            </p>
        {% else %} 
            <p>
                {{ post.body }}
            </p>
        {% endif %}
        </div>
    </section>
</div>
{% endmacro %}
